@import "../../../sassVariables.scss";

.dropdown {
  button {
    width: 200px;
    height: 40px;
    background-color: darken($bgColor, 12%);
    color: $teal;
    border: 1px solid $teal;
    padding: 0;
    margin-bottom: 20px;
    transition: 0.25s;

    i {
      float: right;
      padding-right: 10px;
    }

    &:hover {
      background-color: darken($bgColor, 15%);
    }
    &:active {
      background-color: darken($bgColor, 20%);
      transform: translateY(1px);
    }
  } // button
}
